 body{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        .box{
            width: 350px;
            height: 250px;
            background-color: lightblue;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 20px;
            font-weight: bold;
            border-radius: 10px;
            color: blue;
        }