
        body{
           font-family: Arial, Helvetica, sans-serif;
           margin: 0;
           padding: 0;
           background-color: burlywood;
           display: flex;
           justify-content: center;
           text-align: center;
           margin-top: 50px;
        }
        h1{
            font-size: 2rem;
            margin-bottom: 20px;
            color: crimson;

        }
        
    
        .a{
            color: dodgerblue;
            font-weight: bold;
        }
        .b{
            color: orange;
            font-weight: bold;
        
        }
        .c{
            color: purple;
            font-weight: bold;
        }
        .d{
            color: green;
            font-weight: bold;
        }
        .e{
            color: red;
            font-weight: bold;
        }